In [1]:
x = 5
print(f"Un numero: {x}")

Un numero: 5

In [2]:
a, b = 3, 4
x = a if a > b else b

x

4

In [3]:
import math

math.e**(math.pi * 1j)

(-1+1.2246467991473532e-16j)

In [4]:
from sys import argv

argv[0]

'/home/bomilk/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py'

In [5]:
for e in [0, 1, 2, 3]:
    print(e)

0
1
2
3

In [6]:
for e in "Bienvendios a la hora del codigo :D".split(" "):
    print(e)

Bienvendios
a
la
hora
del
codigo
:D

In [7]:
l = [i * i for i in range(100) if (i * i) % 2 == 0]
l

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [8]:
[print(e) for e in l]

0
4
16
36
64
100
144
196
256
324
400
484
576
676
784
900
1024
1156
1296
1444
1600
1764
1936
2116
2304
2500
2704
2916
3136
3364
3600
3844
4096
4356
4624
4900
5184
5476
5776
6084
6400
6724
7056
7396
7744
8100
8464
8836
9216
9604

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [9]:
M = [[0, 1], [2, 3]]

for fila in M:
    for e in fila:
        print(e)

[print(e) for fila in M for e in fila]

0
1
2
3
0
1
2
3

[None, None, None, None]

In [10]:
{chr(e + ord('A')): e for e in range(ord('Z') - ord('A') + 1)}

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9,
 'K': 10,
 'L': 11,
 'M': 12,
 'N': 13,
 'O': 14,
 'P': 15,
 'Q': 16,
 'R': 17,
 'S': 18,
 'T': 19,
 'U': 20,
 'V': 21,
 'W': 22,
 'X': 23,
 'Y': 24,
 'Z': 25}

In [11]:
for e in (i**2 for i in range(10)):
    print(e)

0
1
4
9
16
25
36
49
64
81

In [12]:
def a(x, y, z):
    print(f"{x} {y} {z}")

l = [1, 2, 3]

a(*l)

1 2 3

In [13]:
def mult(a, b, *asd):
    f = a * b
    for e in asd:
        f *= e
    return f

mult(1, 2), mult(2, 3, 4, 5)

(2, 120)

In [14]:
mult = lambda x, y: x * y

mult(7, 6), mult

(42, <function __main__.<lambda>(x, y)>)

In [15]:
s = "1,2,3,4,5,6"

list(map(int, s.split(","))), s.split(",")

([1, 2, 3, 4, 5, 6], ['1', '2', '3', '4', '5', '6'])

In [16]:
from math import sqrt

list(map(lambda x: sqrt(abs(x)), [-1, -2, -3]))

[1.0, 1.4142135623730951, 1.7320508075688772]

In [17]:
list(range(3)), list(range(0, 6, 2)), list(range(30))

([0, 1, 2],
 [0, 2, 4],
 [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29])

In [18]:
from functools import reduce

reduce(lambda a, b: a + b, range(100))

4950